body{
	background-color: yellow;
}
.mySlides{
	margin-top: -58px;
	width: 550px;
	height: 250px;
}

.icons{
	text-decoration: none;
	color: yellow;
	margin: 20px;
	margin-bottom: 150px;
	margin-top: 50px;
}
.page-1{
	background-color: #4d0000;
}
.logo{
	margin-top: 20px;
	width: 250px;
	height: 100px;

}
/*--------menu page------------*/

.menu{
	margin-top: 0px;
	margin-bottom: 200px;
}
.menu-heading{
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background-color: red
}

.row{
	margin-top: 20px;

}

.menu-img{
	width: 150px;
	height: 100px;
	border-top-right-radius: 15px;
	box-shadow: 2px 2px 4px #000000;
}

.menu-text{

	font-size: 18px;
	margin-top: 10px;
	color: red;
	font-family: 'Amaranth';

}
.click{
	text-decoration: none;
}

.add{
	width: 350px;
	height: 100px;
	margin-top: -8px;
}


/*--------sub page------------*/

.sub-menu{
	margin-top: 50px;
	margin-bottom: 100px;
}

.sub-menu-heading{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 300px;
	color: white;
	font-size: 20px;
	background-color: red;
	border-radius: 10px;
}

.item{
	color: red;
	font-family: 'Amaranth';
}

.sub-menu-box{
	margin-top: 50px;
	align-items: center;

}
.list{
	margin-top: -10px;
	margin-left: 30px;
}

.price{
	color: green;
	font-family: 'Amaranth';
}

.price-section{
	margin-right: -110px;
}
.hr-mid{
	margin-top: -10px;
	width: 200px;
	align-items: center;
	float: center;

}
